<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="angular.min.js"></script>
	  <script type="text/javascript" src="app.js"></script>
    <style>
     .message { font-size: 1.3em; font-weight: bold; }
     body { background-image : url("images/pizza.jpg"); background-repeat: no-repeat;
       background-size: 100%;
       background-position:0px 110px,center;
       color : blue;}
   </style>
  </head>
<body ng-app="LunchChecker" style="background= src='images/pizza.jpg'">
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>
         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list your favorite pizza toppings for lunch"
             class="form-control"
             ng-model="food"
             ng-style="lunchTextBoxColor.style">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkLunch()">Check If Too Much</button>
         </div>
         <div class="form-group message" ng-style="lunchMessageColor.style">
           {{ message }}
         </div>
   </div>
</body>
</html>
